In [1]:
import pandas as pd

l = [10,11,14,7,5,8,0]
days = ["Monday", "Tuesday", "Wednesday", "Thursday","Friday", "Saturday", "Sunday"]

working_hours = pd.Series(l,days)

working_hours

Monday       10
Tuesday      11
Wednesday    14
Thursday      7
Friday        5
Saturday      8
Sunday        0
dtype: int64

In [2]:
working_hours.index

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

In [3]:
working_hours[5]

8

In [4]:
working_hours[1:5]

Tuesday      11
Wednesday    14
Thursday      7
Friday        5
dtype: int64

In [5]:
working_hours[working_hours > 10]

Tuesday      11
Wednesday    14
dtype: int64

In [6]:
working_hours[working_hours.index.str.contains('T', na=False)]

Tuesday     11
Thursday     7
dtype: int64

In [7]:
working_hours_2 = pd.Series(l)
working_hours_2

0    10
1    11
2    14
3     7
4     5
5     8
6     0
dtype: int64

In [8]:
# working_hours_df = pd.DataFrame
working_hours_df = pd.DataFrame(data=l,index=days, columns=['hours'])
working_hours_df

           hours
Monday        10
Tuesday       11
Wednesday     14
Thursday       7
Friday         5
Saturday       8
Sunday         0

In [9]:
working_hours_df.columns

Index(['hours'], dtype='object')

In [10]:
working_hours_df.index

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

In [11]:
working_hours_df.loc["Tuesday","hours"] # loc uses the values

11

In [12]:
working_hours_df.iloc[4,0] # iloc uses the index

5

In [13]:
print(type(working_hours_df["hours"]))

type(working_hours_df)

<class 'pandas.core.series.Series'>

pandas.core.frame.DataFrame

In [14]:
working_hours_df["hours"]["Tuesday"]

11

In [15]:
working_hours[["Monday","Wednesday","Friday"]]

Monday       10
Wednesday    14
Friday        5
dtype: int64

In [16]:
working_hours_df.loc[["Monday","Wednesday","Friday"],"hours"]

Monday       10
Wednesday    14
Friday        5
Name: hours, dtype: int64

In [17]:
working_hours_df.hours

Monday       10
Tuesday      11
Wednesday    14
Thursday      7
Friday        5
Saturday      8
Sunday        0
Name: hours, dtype: int64

In [18]:
working_hours_df["hours"].tolist()

[10, 11, 14, 7, 5, 8, 0]

In [19]:
working_hours_df[working_hours_df.hours > 10]

           hours
Tuesday       11
Wednesday     14

In [20]:
working_hours_df[working_hours_df.hours > 10].index.tolist()

['Tuesday', 'Wednesday']

In [21]:
working_hours_df.loc[working_hours_df.hours > 10,:].index.tolist()

['Tuesday', 'Wednesday']

In [22]:
working_hours_df.loc[:,"sleeping_h"] = [7,8,7,6.5,5,8,9] 
working_hours_df

           hours  sleeping_h
Monday        10         7.0
Tuesday       11         8.0
Wednesday     14         7.0
Thursday       7         6.5
Friday         5         5.0
Saturday       8         8.0
Sunday         0         9.0

In [23]:
working_hours_df.loc["Tuesday","sleeping_h"] = 10 # changing a value
working_hours_df

           hours  sleeping_h
Monday        10         7.0
Tuesday       11        10.0
Wednesday     14         7.0
Thursday       7         6.5
Friday         5         5.0
Saturday       8         8.0
Sunday         0         9.0

In [24]:
working_hours_df.loc[working_hours_df.hours > 10,"sleeping_h"].index

Index(['Tuesday', 'Wednesday'], dtype='object')

In [25]:
working_hours_df.describe()

           hours  sleeping_h
count   7.000000    7.000000
mean    7.857143    7.500000
std     4.525062    1.658312
min     0.000000    5.000000
25%     6.000000    6.750000
50%     8.000000    7.000000
75%    10.500000    8.500000
max    14.000000   10.000000

https://medium.com/@tubelwj/eight-common-data-filtering-techniques-with-pandas-9e1bd5dd4766

In [26]:
working_hours_df.median()

hours         8.0
sleeping_h    7.0
dtype: float64

In [27]:
df = pd.DataFrame({"a":[87,96,45],"b" : ["x","y","y"]},index=["alpha","beta","gamma"])
df

        a  b
alpha  87  x
beta   96  y
gamma  45  y

In [28]:
df.describe() # numerical

               a
count   3.000000
mean   76.000000
std    27.221315
min    45.000000
25%    66.000000
50%    87.000000
75%    91.500000
max    96.000000

In [29]:
df.b.describe() # categorical

count     3
unique    2
top       y
freq      2
Name: b, dtype: object